body {
    font-family: 'Fredoka', sans-serif;
    text-align: left;


}

.container {
    max-width: 950px;
    margin: 0 auto;
}

header {
    margin: 2rem 0;
    text-align: center;
}

h1 {
    color: #E5316F;
   
   

}

main {
    margin-top: 40px;
}

.card {
    background-color: #000000;
    float: left;
    width: calc(950px / 3  - 16px);
    height: 90px;
    margin: 8px;
}

.img {
    width: 90px;
    margin:0;
}