body {
    font-family: 'Fredoka', sans-serif;
    text-align: left;


}

.container {
    max-width: 950px;
    margin: 0 auto;
}

header {
    margin: 2rem 0;
    text-align: center;
}

h1 {
    color: #E5316F;
   
}

.card {
    background-color: #000000;
    float: left;
    width: calc(950px / 3  - 16px);
    height: 90px;
    margin: 8px;
}

.clearfix::after {
    content: '';
    clear:both;
    display: block;

}

.img {
    float: left;
    width: 90px;
    margin: 0;
    
}

.info {
    display: inline-block;
    color: #ffffff;
    margin: 12px;
    margin-left: 8px;
    line-height: 5px; 
    font-size: 12px;
    
    
}

.name {
    text-transform: uppercase;
    font-size: 15px;
    
}

.role {
    font-size: 12px;

}


.mail {
    color: #4AA4BD;
    line-height: 25px;
    text-decoration: none;


}

